# -*- coding:utf-8 -*-

"""
Example settings for local development

Use this file as a base for your local development settings and copy
it to umap/settings/local.py. It should not be checked into
your code repository.

"""

from umap.settings.base import *   # pylint: disable=W0614,W0401

SECRET_KEY = ''
INTERNAL_IPS = ('127.0.0.1', )
ALLOWED_HOSTS = ['*', ]

DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('You', 'your@email'),
)
MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.contrib.gis.db.backends.postgis',
        'NAME': 'umap',
        'USER': 'umap',
        'PASSWORD': 'password',
        'HOST': '127.0.0.1',
        'PORT': '5432',
    }
}

WSGI_APPLICATION = 'umap.wsgi.application'

COMPRESS_ENABLED = False
COMPRESS_OFFLINE = True

LANGUAGE_CODE = 'en'

CAS_SERVER_URL = 'cas_url'
CAS_LOGOUT_COMPLETELY = True
CAS_PROVIDE_URL_TO_LOGOUT = True

AUTHENTICATION_BACKENDS = (
    'django.contrib.auth.backends.ModelBackend',
    'cas.backends.CASBackend',
)
MIDDLEWARE_CLASSES += (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'cas.middleware.CASMiddleware',
)

LEAFLET_STORAGE_ALLOW_ANONYMOUS = True
UMAP_DEMO_SITE = False
SITE_URL = "http://localhost:8000"
SHORT_SITE_URL = "http://s.hort"

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

UMAP_USE_UNACCENT = False

# For static deployment
STATIC_ROOT = '/home/umap/.virtualenvs/umap/var/static'

# For users' statics (geojson mainly)
MEDIA_ROOT = '/home/umap/.virtualenvs/umap/var/uploads'

# MapQuest API key
MAPQUEST_KEY = ''
